body{
	background-color: pink;
	margin: 0;
    padding: 0;
    text-align: center; /* !!! */
}
#outPopup {
  margin: 0 auto;
  margin-top: 250px;
    text-align: center;
    width: 600px;
    background-color: white;
}
